/* Styles */
/* Catppuccin Macchiato */

@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @red;
	}
}

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	color: @text;
	background: @base;
	font-family: MesloLGMDZ NF, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @red;
}

/* And now modules themselves in their respective order */

/* Current hyprland mode (resize etc) */
#mode {
	color: @text;
	background: @mantle;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4pt;
	padding-right: 4pt;
	color: @text;
	background: @surface2;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @surface2;
	background: @sapphire;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @crust;
	background: @sapphire;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @base;
	background: @red;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @base;
	color: @text;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#pulseaudio {
	background: @surface2;
	color: @text;
}

#network {
	background: @surface2;
	color: @text;
}

#memory {
	background: @surface2;
	color: @text;
}

#cpu {
	background: @surface2;
	color: @text;
}

#temperature {
	background: @surface2;
	color: @text;
}

#language {
	background: @surface2;
	color: @text;
}

#battery {
	background: @surface2;
	color: @text;
}

#tray {
	background: @surface2;
}

#clock{
	background: @surface2;
	color: @text;
}

#backlight{
	background: @surface2;
	color: @text;
}

#custom-arrow1 {
	color: @surface2;
	background: @base;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @surface2;
	background: @base;
}
